.section1 {
  top: 20rem;
  left: 0;
  margin-top: 10rem;
  padding: 20rem 10rem;
  background-color: transparent;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.section2 {
  margin-top: 0.5rem;
  padding: 2rem 10rem;
  background-color: rgb(3, 88, 88);
  height: 60vh;
  justify-content: center;
  align-items: center;
}
