@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
nav {
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  /* font-family: "Lato", sans-serif; */
  font-family: "Nunito", sans-serif;
  
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  padding: 20px;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: rgba(161, 28, 176, 0.2);
  border: 50px;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-toggle::after {
  content: "\25BE";
  display: inline-block;
  margin-left: 5px;
  border: 10px;
}

.dropdown .dropdown-menu {
  background-color: rgba(5, 146, 162, 0.5);
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.09);
  border: 50px;
  
}

.dropdown.active .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  border: 20px;
}

.dropdown-menu a:hover {
  background-color: rgba(103, 181, 233, 0.9);
}

.dropdown-submenu .dropdown-menu {
  left: 100%;
  top: 0;
  margin-top: -1px;

  border: 20px;
}

.h-9 {
  height: 5rem;
  align-items: left;
  margin: 2rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffffff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media (max-width: 768px) {
  nav .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    z-index: 1;
  }

  nav .nav-links li {
    display: block;
    margin: 10px 0;
  }

  nav .nav-links li.dropdown > a::after {
    content: " ►";
  }

  nav .dropdown-menu {
    position: static;
    display: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  nav .dropdown-menu li a {
    padding: 5px 20px;
  }

  nav.active .menu-icon i {
    color: #ffffff;
  }

  nav.active .menu-icon i:before {
    content: "Close";
  }
}
